body{
    font-family:sans-serif;
    height:100vh
}
  
#content{
display:grid;
grid-template-rows: 0.25fr 15fr;

}

#header, #sidebar, #dashboard{
padding:10px;

border: 1px solid black;

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-title{
    font-weight: bolder;
}

#create-new-button-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
    
#create-new-button{
    text-align: center;
    border: 1px solid lightslategrey;
    width:100px;
    padding:2px;
}

#create-new-button:hover{
    color: white;
    background-color: lightslategray;
}

.sidebar-button{
    font-weight:bold;
}

.sidebar-button:hover{
    color:lightslategrey;
}

#main-content{
    display:grid;
    grid-template-columns:1fr 5fr;
}

#dashboard{
    display:grid;
    grid-template-rows: 0.25fr 10fr;
    gap: 10px;
}

#task-list{
    display: flex;
    flex-direction: column;
}

.task-container, .project-container{
    display:grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
    align-items:center;

    border-bottom: 1px solid black;
    padding:10px;
}


.task-container:hover{
    color:lightslategrey
}

.task-container.checked{
    background-color:lightgray;
    color:gray;
}

.task-buttons-container, .project-buttons-container{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
}

.task-button:hover, .project-button:hover{
    color:lightslategrey;
}

.task-status{
    width:18px;
    height:18px;
}



.task-status.unchecked{
    border: 1px solid red;
}

.task-status.checked, .task-status.unchecked:hover{
    border: 1px solid green;
    background-color:green;
}




#sidebar{
    display:flex;
    flex-direction: column;
    gap:10px;

    max-width:216px;
}

#side-project-container{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.side-project-names{
    text-align: right;
    overflow-wrap: break-word;
    max-width: 100%;
}

.side-project-names:hover{
    color:lightslategrey;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent overlay */
    z-index: 1;
    display: none; /* Initially hidden */
}

.popup{
    display:grid;
    grid-template-columns:2fr 5fr;
    grid-template-rows:1fr 5fr 1fr;
    gap:10px;

    position: fixed;
    left: 50%;
    top:10%;
    transform: translate(-50%, 5%);
    z-index: 2;

    padding:10px;
    width:50vw;
    height:458px;

    background-color:white;
    border:1px solid black;
}

.popup-header{
    grid-column:1/3;

    display:flex;
    justify-content:center;
    align-items:center;
}

.popup-title{
    text-align:center;
    font-size: larger;
    font-weight: bolder;
}

#create-new-popup{
    display:none;
}

#create-new-side{
    display:flex;
    flex-direction: column;

    gap:10px;
    padding:10px;
    font-size:large;
    font-weight: bolder;
}

#nav-new-task:hover, #nav-new-project:hover{
    color:lightslategrey;
}

#nav-new-task.clicked, #nav-new-project.clicked{
    color:lightslategrey;
}

#create-new-main{
grid-column:2/3;


}

.form-body{
    display:flex;
    flex-direction:column;
    align-content:space-between;

    height:100%;

}

.form-group{
    display:grid;
    
    padding-bottom:5px;
}

.invalid-feedback{
    visibility:hidden;
    font-size: 0.7em;
    color:red;
}

#task-details, #project-details{
    height:100px;
}

textarea{
    resize:none;
    overflow: scroll;
}

.form-buttons{
    grid-column:1/3;

    display:flex;
    justify-content:space-between;

    padding:10px;
}

.form-buttons button{
    padding-left: 20px;
    padding-right: 20px;
}

#edit{
    display:none;
}

#edit-main{
    grid-column:1/3;

    padding:10px;
    }

.checked{
    color:grey;
}